/* src/UrbanEmissionsSpotlight.css */
.spotlight-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10%;
  }
  
  .spotlight-image {
    width: 50%;
    height: auto;
  }
  
  .spotlight-text {
    padding: 20px;
    flex: 1;
  }
  
  .spotlight-text h2 {
    margin-top: 0;
  }
  
  .explore-button {
    background-color: #082A64;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .link:link, .link:visited {
    text-decoration: none;
    color: white !important;
  }