* {
  font-family: "Inter", sans-serif !important;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f7;
}

#form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

#header {
  width: 100%;
  margin-bottom: 4px;
}

#form {
  width: 100%;
}
img {
  border: 1px solid #dadce0;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}
.ctct-inline-form {
  border: 1px solid #dadce0;
  border-radius: 5px;
}
