/* starting ENTER animation */
.messageout-enter {
  opacity: 0.5;
}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

/* starting EXIT animation */
.messageout-exit {
  opacity: 1;
}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.veda-color--link {
  color: var(--veda-color-link);
}

.veda-color--base {
  color: var(--veda-color-base);
}
.carousel--height {
  height: 500px;
}
.carousel--content-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}