/* starting ENTER animation */
.messageout-enter {
  opacity: 0.5;
}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

/* starting EXIT animation */
.messageout-exit {
  opacity: 1;
}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-out;
}
