@use 'uswds-core' with (
  $theme-image-path: '/img',
  $theme-font-path: '/fonts',
  $theme-show-notifications: false,
  $utilities-use-important: true,
  $theme-font-weight-semibold: '600',
  $theme-type-scale-md: 8,
  $theme-utility-breakpoints: (
    'mobile-lg': true,
    'desktop': true
  ),
  $theme-color-base-darkest: 'gray-cool-80',
  $theme-color-base-ink: 'gray-cool-90',
  $theme-color-primary: 'red-50',
  $theme-color-secondary: 'yellow-30',
);